* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.backgruound {
  background: url(../image/bg-whcak.jpg) center no-repeat;
  width: 100%;
  height: 112vh;
  position: absolute;
  z-index: -2;
  margin-top: -90px;
  background-size: 100%;
}
.kotak {
  margin: 0 auto;
  margin-top: 20px;
  width: 555px;
  height: 200px;
  border-radius: 10px;
  background: #b4a292;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mulai {
  width: 120px;
  height: 70px;
  border-radius: 0px 20px;
  background: #070707;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2 {
  font-size: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  color: rgb(0, 0, 0);
}
button {
  display: block;
  margin: auto;
}
.mulai.none {
  display: none;
}
.container {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  cursor: url(../image/palu1.png), auto;
}
.container:active {
  cursor: url(../image/palu2.png), auto;
}

.tanah {
  width: 180px;
  margin-top: -30px;
  height: 180px;
  position: relative;
  overflow: hidden;
  float: left;
}

.tanah::after {
  content: "";
  display: block;
  width: 180px;
  height: 70px;
  background: url(../image/tanah.png) bottom no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -17px;
}

.tikus {
  width: 55%;
  height: 70%;
  background: url(../image/tikus.png) bottom no-repeat;
  background-size: 90%;
  position: absolute;
  bottom: -170px;
  top: 190px;
  transition: top 0.5s;
  margin-left: 40px;
}
.tanah.show .tikus {
  top: 30px;
  margin-left: 40px;
}
.hilang {
  display: none;
}
.muncul {
  display: block;
}
.papanSkor.none {
  display: none;
}
.ppn.none {
  display: none;
}
